<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{./style.css}" />
  </head>

  <body>
    <div class="cover">
      <img
        th:src="@{https://d3beofgpsk367b.cloudfront.net/pdf-icon/logo.png}"
        class="cover-logo" />
      <img
        th:src="@{https://d3beofgpsk367b.cloudfront.net/pdf-icon/ribbon.png}"
        class="cover-ribbon" />
    </div>
    <div class="A4-wrapper">
      <div
        th:each="post, iterStat : ${posts}"
        class="container"
        th:classappend="${iterStat.odd ? 'odd-container' : ''}">
        <img
          th:if="${post.imageUrls.size() == 1}"
          class="aspect-34-image"
          th:src="${post.imageUrls[0]}"
          alt="img 1" />

        <div
          class="aspect-43-image-container"
          th:if="${post.imageUrls.size() == 2}">
          <img
            th:src="${post.imageUrls[0]}"
            class="aspect-43-image"
            alt="first img" />

          <img
            th:src="${post.imageUrls[1]}"
            class="aspect-43-image second-image"
            alt="second img" />
        </div>

        <div
          th:classappend="${post.imageUrls.size() == 1 ? 'aspect-34-contents' : 'aspect-43-contents'}">
          <img
            th:src="${#strings.isEmpty(post.authorProfileImg) 
                ? 'https://d3beofgpsk367b.cloudfront.net/pdf-icon/default-profile.png'
                : post.authorProfileImg}"
            class="profile-image"
            th:classappend="${post.imageUrls.size() == 2} ? 'aspect-2-image-profile' : ''" />

          <div
            th:classappend="${post.imageUrls.size() == 1 ? 'text-container-34' : 'text-container'}">
            <div>
              <span class="text-relation" th:text="${post.relations}"></span>
              <span class="text-name" th:text="${post.authorName}"></span>
              <span
                th:classappend="${post.imageUrls.size() == 1 ? 'text-date-34' : 'text-date'}"
                th:text="''+ ${#temporals.format(post.createdAt, 'YYYY년 MM월 dd일 ')}+ (${post.createdAt.hour &lt; 12} ? '오전' : '오후')+ ' '+ ${#temporals.format(post.createdAt, 'h시 mm분')}"></span>
            </div>
            <div class="text-content" th:text="${post.content}"></div>
          </div>
        </div>
        <div
          th:if="${iterStat.even}"
          class="page-number"
          th:text="${iterStat.count / 2}"></div>
      </div>
      <div th:if="${posts.size() % 2 == 1}" class="container">
        <div
          class="page-number"
          th:text="${T(java.lang.Math).ceil(posts.size() / 2.0)}"></div>
      </div>
    </div>
  </body>
</html>
