<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{./style.css}" />
  </head>

  <body>
    <div class="cover">
      <img
        th:src="@{https://d3beofgpsk367b.cloudfront.net/pdf-icon/logo.png}"
        class="cover-logo" />
      <img
        th:src="@{https://d3beofgpsk367b.cloudfront.net/pdf-icon/ribbon.png}"
        class="cover-ribbon" />
    </div>
    <div class="A4-wrapper">
      <div
        th:each="post, iterStat : ${posts}"
        class="container"
        th:classappend="${iterStat.odd ? 'odd-container' : 'even-container'}">
        <div
          th:if="${post.imageUrls.size() == 1}"
          class="aspect-34-image bg-cover"
          th:style="'background-image: url(' + ${post.imageUrls[0]} + ');'"></div>

        <div
          class="aspect-43-image-container"
          th:if="${post.imageUrls.size() == 2}">
          <div
            class="aspect-43-image bg-cover"
            th:style="'background-image: url(' + ${post.imageUrls[0]} + ');'"></div>

          <div
            th:src="${post.imageUrls[1]}"
            class="aspect-43-image second-image bg-cover"
            th:style="'background-image: url(' + ${post.imageUrls[1]} + ');'"></div>
        </div>

        <div
          th:classappend="${post.imageUrls.size() == 1 ? 'aspect-34-contents' : 'aspect-43-contents'}">
          <div
            class="profile-image bg-cover"
            th:classappend="${post.imageUrls.size() == 2} ? 'aspect-2-image-profile' : ''"
            th:style="'background-image: url(' + (#strings.isEmpty(post.authorProfileImg) 
              ? 'https://d3beofgpsk367b.cloudfront.net/pdf-icon/default-profile.png' 
              : post.authorProfileImg) + ');'"></div>

          <div
            th:classappend="${post.imageUrls.size() == 1 ? 'text-container-34' : 'text-container'}">
            <div>
              <span class="text-relation" th:text="${post.relations}"></span>
              <span class="text-name" th:text="${post.authorName}"></span>
              <span
                th:classappend="${post.imageUrls.size() == 1 ? 'text-date-34' : 'text-date'}"
                th:text="''+ ${#temporals.format(post.createdAt, 'YYYY년 MM월 dd일 ')}+ (${post.createdAt.hour &lt; 12} ? '오전' : '오후')+ ' '+ ${#temporals.format(post.createdAt, 'h시 mm분')}"></span>
            </div>
            <div class="text-content" th:text="${post.content}"></div>
          </div>
        </div>
        <div
          th:if="${iterStat.even}"
          class="page-number"
          th:text="${iterStat.count / 2}"></div>
      </div>
      <div th:if="${posts.size() % 2 == 1}" class="container even-container">
        <div class="page-number" th:text="${(posts.size() / 2) + 1}"></div>
      </div>
    </div>
  </body>
</html>
