@page {
  size: A4 portrait;
}

body {
  font-family: "Pretendard", sans-serif;
  margin: 0;
}

.A4-wrapper {
  width: 794px;
  height: 1123px;

  position: relative;

  page-break-inside: avoid;
  page-break-after: always;
}

.container {
  width: 739px;
  height: 493.6px;

  margin: 0 26.7px;
}

.even-container {
  padding-top: 53.4px;
}

.odd-container {
  padding-top: 21.3px;
}

.page-number {
  color: #5e5e5e;
  font-size: 21.3px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.5px;
  bottom: 16px;
  left: 392.3px;
  position: absolute;
}

/* text 설정 */
.text-name {
  color: #313131;
  padding-right: 10.7px;

  font-size: 26.7px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.4px;
}

.text-relation {
  color: #018941;
  padding-right: 5.3px;

  font-size: 26.7px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.4px;
}

.text-content {
  color: #5e5e5e;

  font-size: 21.3px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.text-date {
  display: inline;
  color: #b6b6b6;

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.text-date-34 {
  display: block;
  color: #b6b6b6;

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.4px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline-block;
}

.aspect-34-image {
  width: 370.3px;
  height: 493.6px;
  float: left;
}

.aspect-43-image {
  width: 364.3px;
  height: 273.2px;
}

.second-image {
  float: right;
}

.profile-image {
  width: 77.4px;
  height: 77.4px;

  border-radius: 100px;
  border: 9.3px solid #fefefe;
  position: absolute;
  top: -10.7px;
  left: -10.7px;
  background-color: #fefefe;
}

.aspect-2-image-profile {
  top: -40px;
}

.aspect-34-contents {
  position: relative;
  width: 380.3px;

  margin-left: auto;
  margin-right: 0;
}

.text-container-34 {
  width: 292.2px;

  margin-left: auto;
  margin-right: 0;
}

.aspect-43-contents {
  bottom: -5.3px;
  position: relative;
}

.text-container {
  width: 651px;
  margin-left: auto;
  margin-right: 0;
}

.aspect-43-image-container {
  height: 273.2px;
  padding-bottom: 13.3px;
}
